@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-800);
  --color-background: var(--color-slate-100);
  --color-foreground: var(--color-slate-950);
  --color-primary-fg: var(--color-blue-50);
  --color-primary-hover: var(--color-blue-500);
  --color-muted: var(--color-zinc-300);
}

input[type="text"] {
  border: 1px solid var(--color-muted);
  border-radius: var(--radius-sm);
  padding: 0.25rem;
  height: 3rem;
}

